.file-upload{
    padding: 1.6em 1em;
    display: block;
    text-align: center;
    background-color: rgb(80, 145, 150);
    width: 100%;
    color: #eeeeee;
    font-weight: 600;
}

.file-upload input,
.file-upload input[type="file" i] {
    padding: 0.5em 1em;
    font-size: 1em;
}
