@import url('https://fonts.googleapis.com/css2?family=Montserat&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  font-family: Montserat, "Helvetica Neue", Arial, Helvetica, sans-serif;

  background: rgb(238, 238, 238);
}

a {
  text-decoration: none;
  list-style-type: none;
}